@font-face {
  font-family: "Museo Sans Cyrl";
  src:
    local("MuseoSansCyrl"),
    url("../fonts/MuseoSansCyrl300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src:
    local("MuseoSansCyrl"),
    url("../fonts/MuseoSansCyrl500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Evolventa";
  src:
    local("Evolventa"),
    url("../fonts/Evolventa400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Evolventa";
  src:
    local("Evolventa"),
    url("../fonts/Evolventa700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


.container {
  max-width: 1180px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 20px;
}

.nav-link {
  position: relative;
  color: #000;
  font-family: "Museo Sans Cyrl";
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  margin-right: 20px;
  padding-bottom: 5px;
}

.nav-link:hover::before {
  left: 0;
  right: 0;
  transition: right 0.3s;
}

.nav-link::before {
  background: #000;
  bottom: 0;
  content: "";
  height: 1px;
  left: 100%;
  position: absolute;
  right: 100%;
  transition: right 0s 0.3s, left 0.3s;
}

.nav-link:last-child {
  margin-right: 0px;
}

.social-link {
  display: inline-block;
  margin-right: 23px;
}

.social-link path:first-child {
  fill: #010102;
  transition: fill 0, 3s;
}

.social-link:hover path:first-child {
  fill: #494949;
}

.social-link:last-child {
  margin-right: 0px;
}

.hero {
  display: flex;
  gap: 41px;
  justify-content: space-between;
}

.hero-left {
  max-width: 612px;
}

.hero-title {
  font-family: Evolventa;
  font-weight: 700;
  font-size: 45px;
  line-height: 120%;
  color: #000;
  margin-bottom: 46px;
}

.hero-description {
  font-family: Evolventa;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #000;
  margin-bottom: 67px;
  max-width: 545px;
}

.hero-btn {
  display: inline-block;
  font-family: Evolventa;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #1a1b16;
  border-radius: 10px;
  background: #d2fe67;
  padding: 20px 140px;
  width: 480px;
  height: 68px;
}

.hero-right {}

.hero-reviews {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-bottom: 30px;
}

.hero-reviews:last-child {
  margin-bottom: 0;
}

.hero-reviews:nth-child(2n) {
  flex-direction: row-reverse;
}

.hero-reviews-content {
  padding: 18px 20px 30px;
  border-radius: 20px;
  width: 348px;
  height: 181px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
}

.hero-reviews-name {
  font-family: Museo Sans Cyrl;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #000;
  margin-bottom: 5px;
}

.hero-reviews-tariff {
  display: inline-block;
  font-family: Museo Sans Cyrl;
  font-weight: 300;
  font-size: 12px;
  line-height: 130%;
  color: #1a1b16;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0 5px;
  height: 18px;
  background: #f2f3f7;
  margin-bottom: 20px;
}

.hero-reviews-text {
  font-family: Museo Sans Cyrl;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  color: #000;
}